NEXT_PUBLIC_SUPABASE_URL=https://ruwewmbgxuhdzdmstpbx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1d2V3bWJneHVoZHpkbXN0cGJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxNDY4NzUsImV4cCI6MjA3MTcyMjg3NX0.C81vl51V7F_VcZmg8Tfjp1-kQXzp7uFYv9iXJgxYEfo